body {
    background: #191919;
    color: #fff;
    line-height: 1.4em;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ol {
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:#FFF;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
}

ol a {
    display:block;
    text-decoration:none;
    color: #777777;
    padding:0 5px;
}

ol > li {
    float:left;
    width:175px;
    margin-left:1px;
    background-color: #242424;
    height:2em;
}

ol > li:first-child {
    margin-left:0;
}

ol > li:hover {
    background-color:#EEE;
}

ol > li:hover > a {
    color:#09C;
}

ol > li:hover > ul {
    display:block;
}

ol > li > ul {
    display:none;
    list-style-type:none;
    padding:0;
    margin:0;
}

ol > li > ul > li {
    position:relative;
    background-color: #272727;
}

ol > li > ul > li > a {
    border-top:1px solid #373737;
}

ol > li > ul > li:hover {
    background-color:#DDD;
}

ol > li > ul > li:hover > a {
    color: #9aaacc;
}

.clr {
    clear: both;
}

#container {
    background: #333333;
    width: 1080px;
    margin: 30px auto;
    overflow: hidden;
    padding: 10px;
}
#imagecontainer {
    width:100%;
    overflow: hidden;
}

#nav {
    width:auto;
    height: 40px;
    background: #666;
}

#main {
    float: left;
    width: 60%;
}

#sidebar {
    float: right;
    width: 30%;
    background: #666;
    margin-top: 20px;
    padding: 10px;
}

#footer {
    text-align: center;
    padding: 10px;
    background: #666;
    margin-top: 30px;
}

.rightlandscape {
    float:right;
    height: auto;
    width: 50%;
}
.leftlandscape {
    float:left;
    height: auto;
    width: 50%;
}
#headerlogo {
    height: 226px;
    width: 1080px;
    position: relative;
}
#headerimage {
    position: absolute;
    left: 0;
    top: 0;
}
#headertext {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 2px 2px #040000;
    line-height: 90%;
    left: 10px;
    top: 0;
}
#headerbelowtext {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px #040000;
    line-height: 90%;
    left: 5px;
    bottom: 0;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}