# Repositories
.git
.hg
.svn
.hgsvn

# Eclipse
bin
.settings
.project
.classpath

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
.idea
.idea/*

# Maven
target
overlays/*

# Java
classes
WEB-INF/classes
WEB-INF/lib